* {
  font-family: 'Gabriela', serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 18px;
}

.button {
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  border-radius: 10px;
  box-shadow: 0 4px #2d682f;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #2d682f;
  transform: translateY(3px);
}

div.linkButton {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  margin: 24px 0;
  text-align: center;
}

div.gallery {
  border: 1px solid #aaa;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  background: rgba(245,237,217,0.4);
}

div.gallery:hover {
  border: 1px solid #666;
  background: rgba(245,237,217,0.7);
}

div.gallery img {
  /* object-fit: cover; */
  /* object-position: 0 100%; */
  
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
  /* height: 420px; */
}

div.title {
  font-weight: 700;
  padding: 2px;
  font-size: 24px;
  text-align: center;
}

div.description {
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  text-align: center;
  color: #333;
}

.responsive {
  /* padding: 2% 1%; */
  padding: 18px;
  float: left;
  width: 33.33%;
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
