.pagination {
  display: inline-block;
}

.pagination a {
  color: #606c71;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  text-decoration: none;
}

.pagination a.inactive {
  color: #bbb;
}

.pagination a:hover:not(.active):not(.inactive) {
  background-color: #ddd;
  text-decoration: none;
}