* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

body {
  font-size: 100%;
  margin: 0;
}

h1 {
  font-family: 'Gabriela', serif;
  font-size: 2.4em;
  text-align: center;
  margin: 0;
  padding: 46px 0 4px 0;
}

a {
  text-decoration: none;
  color: #2c2cff;
}

a:hover {
  text-decoration: underline
}

a:visited {
  color: #619de6
}

a.button {
  font-family: 'Gabriela', serif;
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 1.375em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #449d44;
  border-radius: 10px;
  box-shadow: 0 4px #275f29;
}

a.button:hover {
  background-color: #4caf4c
}

a.button:active {
  box-shadow: 0 1px #275f29;
  transform: translateY(3px);
}

a.button, a.button:active, a.button:hover {
  transition: 50ms linear;
}

div.linkButton {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.content {
  margin: 0 2.5%;
  min-height: calc(100vh - 90px);
}

.footer {
  margin: 0.5% 0;
  text-align: center;
}

.icon-v {
  width: calc(576px / 15);
}

.icon-g {
  width: calc(496px / 15);
}

.pixelated {
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:optimize-contrast;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
}

.social img {
  opacity: 0.6;
  margin-bottom: 4px;
}

.social img:hover {
  opacity: 1;
}

.social img, .social img:hover {
  transition: 250ms ease;
}

div.gallery {
  border: 1px solid #aaa;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  background: rgba(245,237,217,0.4);
}

div.gallery:hover {
  border-color: #666;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
  background: rgba(245,237,217,0.7);
}

div.gallery, div.gallery:hover {
  transition: 250ms ease;
}

div.gallery img {
  object-fit: none;
  object-position: 0 100%;
  
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 414px;
}

div.title {
  font-family: 'Gabriela', serif;
  font-weight: 700;
  padding: 2px;
  font-size: 1.5em;
  text-align: center;
}

div.description {
  padding: 4px;
  text-align: center;
  color: #333;
  height: 38px;
}

.responsive {
  padding: 1% 1.5%;
  float: left;
  width: 33.33%;
}

@media only screen and (max-height: 699px) {
  div.gallery img {
    height: 360px;
  }
}

@media only screen and (max-width: 1200px) {
  .responsive {
    padding: 1.5%;
    width: 50%;
  }
  
  .content {
    margin: 0 1.5%;
  }
  
  div.gallery img {
    height: 360px;
  }
  
  h1 {
    padding: 40px 0 0 0;
  }
}

@media only screen and (max-width: 650px) {
  .responsive {
    padding: 3%;
    width: 100%;
  }
  
  .content {
    margin: 0 1%;
  }
  
  div.gallery img {
    height: 300px;
  }
  
  h1 {
    padding: 40px 0 0 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
